@charset "UTF-8";
@keyframes cairSuave {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        max-height: 0;
        padding: 0 10px;
        margin-bottom: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 100px;
        padding: 8px 10px;
        
    }
}




@media (max-width: 480px) {
    input.campo {
        font-size: 14px;
    }

    button.botao {
        font-size: 14px;
    }

    label.tarefa {
        font-size: 14px;
    }
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

}

header{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0px 0px ;
    background-color: #1f1f1f;
}

header > h1 {
    padding: 40px 0px 20px 0px;
    color: white;
}

main#fundo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    flex-grow: 1; /* ocupar todo espaço restante */
    overflow-y: auto;
    font-family: 'Inter', sans-serif;
}

section#conteiner {
    width: 80vw;
    height: auto;
    max-width: 600px;
    padding-top: 60px;
}

div#pergunta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 70px;
    max-width: 600px; width: 80vw;
    border-radius: 14px;
    margin: 20px 0px;
}

input.campo {
    max-width: 400px; width: 50vw;
    height: 35px;
    padding-left: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.699);
    
}

input.campo:focus {
    outline: none;
}

input.campo:active {
    background-color: #e7e7e7; 
    border: 1px solid rgba(0, 0, 0, 0.8);
}


button.botao {
    max-width: 100px ; width: 16vw; min-width: 70px;
    height: 35px;
    border-radius: 14px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.699);
    cursor: pointer;
}
 
button.botao:active{
    background-color: #e7e7e7; 
    transform: scale(0.98);
}



div#tarefas {
    display: flex;
    opacity: 0;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 20px; 
    overflow-y: auto;
}

.item-tarefa {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

.item-tarefa.animar {
    animation: cairSuave 0.3s ease forwards;
}


label.tarefa {
    flex: 1;
    font-size: 16px;
    cursor: pointer;
}

button.editar {
    border: 0px;
    cursor: pointer; 
    color: #333;
    font-size: 20px;
}

button.editar:hover {
     color: #007bff;
}

input.campo-edicao {
    min-width: 0;
    border: 0px;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    flex: 1;
    font-size: 16px;
}

button.excluir {
    border: 0px;
    cursor: pointer;
    color: #333;
    font-size: 20px;
}

button.excluir:hover {
    color: red;
}


input[type='checkbox'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.concluida {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}
