@charset "UTF-8";

@media (max-width: 480px) {
    input.campo {
        font-size: 14px;
    }

    button.botao {
        font-size: 14px;
    }

    label.tarefa {
        font-size: 14px;
    }
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0px 0px ;
    background-color: #1f1f1f;
}

header > h1 {
    margin-top: 50px;
    color: white;
}

main#fundo{
    display: flex;
    align-items: center;
    flex-flow: column;
    
    background-color: #1f1f1f;
    height: 100vh;
}

section#conteiner {
    width: 80vw;
    height: auto;
    max-width: 600px;
    
}

div#pergunta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 70px;
    max-width: 600px; width: 80vw;
    border-radius: 24px;
    margin: 20px 0px;
}

input.campo {
    max-width: 400px; width: 50vw;
    height: 35px;
    padding-left: 10px;
    border-radius: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.644);
    
}




button.botao {
    max-width: 100px ; width: 16vw;
    height: 35px;
    border-radius: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.644);
    cursor: pointer;
}


div#tarefas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    max-height: 250px; /* rolagem se tiver muitas */
    overflow-y: auto;
}

.item-tarefa {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

label.tarefa {
    flex: 1;
    font-size: 16px;
    cursor: pointer;
}

button.editar {
    border: 0px;
    cursor: pointer; 
    color: #333;
    font-size: 20px;
}

button.editar:hover {
     color: #007bff;
}

button.excluir {
    border: 0px;
    cursor: pointer;
    color: #333;
    font-size: 20px;
}

button.excluir:hover {
    color: red;
}


input[type='checkbox'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
